

.pdf{
    margin: auto;
    margin-bottom: 50px;
    border: 3px solid brown;
}

@media screen and (max-width: 800px) {
    .pdf{
        width: 100%;
        height: 120vw;
    }

    .video{
        width: 100%;
        height: auto;
    }

    .big{
        width: 100%;
        font-size: 2em;
    }
}


@media screen and (min-width: 801px) {
    .pdf{
        width: 65%;
        height: auto;
    }
    
    .video{
        width: auto;
        height: 80vh;
    }

    .big{
        width: 80%;
        font-size: 2em;
    }

    .shown{
        display:block !important;
        transition: height 1s;
    }

    #resume, #idea, #intro, #dtalk{
        display: none;
    }
    
}

