.instagram-media {
	margin: 15px auto !important;
}

.video-player {
	width: 100%;
	padding: 0px 10vw;
}

.youtube-embed {
	width: 80vw;
	height: 45vw;
	margin: 0 auto;
	float: center;
}

.col-xl,
.col-xl-auto,
.col-xl-12,
.col-xl-11,
.col-xl-10,
.col-xl-9,
.col-xl-8,
.col-xl-7,
.col-xl-6,
.col-xl-5,
.col-xl-4,
.col-xl-3,
.col-xl-2,
.col-xl-1,
.col-lg,
.col-lg-auto,
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-md,
.col-md-auto,
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1,
.col-sm,
.col-sm-auto,
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
	position: relative;
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

.col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

.row-cols-1 > * {
	flex: 0 0 100%;
	max-width: 100%;
}

.row-cols-2 > * {
	flex: 0 0 50%;
	max-width: 50%;
}

.row-cols-3 > * {
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}

.row-cols-4 > * {
	flex: 0 0 25%;
	max-width: 25%;
}

.row-cols-5 > * {
	flex: 0 0 20%;
	max-width: 20%;
}

.row-cols-6 > * {
	flex: 0 0 16.6666666667%;
	max-width: 16.6666666667%;
}

.col-auto {
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
}

.col-1 {
	flex: 0 0 8.3333333333%;
	max-width: 8.3333333333%;
}

.col-2 {
	flex: 0 0 16.6666666667%;
	max-width: 16.6666666667%;
}

.col-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.col-4 {
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}

.col-5 {
	flex: 0 0 41.6666666667%;
	max-width: 41.6666666667%;
}

.col-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.col-7 {
	flex: 0 0 58.3333333333%;
	max-width: 58.3333333333%;
}

.col-8 {
	flex: 0 0 66.6666666667%;
	max-width: 66.6666666667%;
}

.col-9 {
	flex: 0 0 75%;
	max-width: 75%;
}

.col-10 {
	flex: 0 0 83.3333333333%;
	max-width: 83.3333333333%;
}

.col-11 {
	flex: 0 0 91.6666666667%;
	max-width: 91.6666666667%;
}

.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

.order-first {
	order: -1;
}

.order-last {
	order: 13;
}

.order-0 {
	order: 0;
}

.order-1 {
	order: 1;
}

.order-2 {
	order: 2;
}

.order-3 {
	order: 3;
}

.order-4 {
	order: 4;
}

.order-5 {
	order: 5;
}

.order-6 {
	order: 6;
}

.order-7 {
	order: 7;
}

.order-8 {
	order: 8;
}

.order-9 {
	order: 9;
}

.order-10 {
	order: 10;
}

.order-11 {
	order: 11;
}

.order-12 {
	order: 12;
}

.offset-1 {
	margin-left: 8.3333333333%;
}

.offset-2 {
	margin-left: 16.6666666667%;
}

.offset-3 {
	margin-left: 25%;
}

.offset-4 {
	margin-left: 33.3333333333%;
}

.offset-5 {
	margin-left: 41.6666666667%;
}

.offset-6 {
	margin-left: 50%;
}

.offset-7 {
	margin-left: 58.3333333333%;
}

.offset-8 {
	margin-left: 66.6666666667%;
}

.offset-9 {
	margin-left: 75%;
}

.offset-10 {
	margin-left: 83.3333333333%;
}

.offset-11 {
	margin-left: 91.6666666667%;
}

@media (min-width: 576px) {
	.col-sm {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}

	.row-cols-sm-1 > * {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.row-cols-sm-2 > * {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.row-cols-sm-3 > * {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}

	.row-cols-sm-4 > * {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.row-cols-sm-5 > * {
		flex: 0 0 20%;
		max-width: 20%;
	}

	.row-cols-sm-6 > * {
		flex: 0 0 16.6666666667%;
		max-width: 16.6666666667%;
	}

	.col-sm-auto {
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}

	.col-sm-1 {
		flex: 0 0 8.3333333333%;
		max-width: 8.3333333333%;
	}

	.col-sm-2 {
		flex: 0 0 16.6666666667%;
		max-width: 16.6666666667%;
	}

	.col-sm-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-sm-4 {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}

	.col-sm-5 {
		flex: 0 0 41.6666666667%;
		max-width: 41.6666666667%;
	}

	.col-sm-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-sm-7 {
		flex: 0 0 58.3333333333%;
		max-width: 58.3333333333%;
	}

	.col-sm-8 {
		flex: 0 0 66.6666666667%;
		max-width: 66.6666666667%;
	}

	.col-sm-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-sm-10 {
		flex: 0 0 83.3333333333%;
		max-width: 83.3333333333%;
	}

	.col-sm-11 {
		flex: 0 0 91.6666666667%;
		max-width: 91.6666666667%;
	}

	.col-sm-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.order-sm-first {
		order: -1;
	}

	.order-sm-last {
		order: 13;
	}

	.order-sm-0 {
		order: 0;
	}

	.order-sm-1 {
		order: 1;
	}

	.order-sm-2 {
		order: 2;
	}

	.order-sm-3 {
		order: 3;
	}

	.order-sm-4 {
		order: 4;
	}

	.order-sm-5 {
		order: 5;
	}

	.order-sm-6 {
		order: 6;
	}

	.order-sm-7 {
		order: 7;
	}

	.order-sm-8 {
		order: 8;
	}

	.order-sm-9 {
		order: 9;
	}

	.order-sm-10 {
		order: 10;
	}

	.order-sm-11 {
		order: 11;
	}

	.order-sm-12 {
		order: 12;
	}

	.offset-sm-0 {
		margin-left: 0;
	}

	.offset-sm-1 {
		margin-left: 8.3333333333%;
	}

	.offset-sm-2 {
		margin-left: 16.6666666667%;
	}

	.offset-sm-3 {
		margin-left: 25%;
	}

	.offset-sm-4 {
		margin-left: 33.3333333333%;
	}

	.offset-sm-5 {
		margin-left: 41.6666666667%;
	}

	.offset-sm-6 {
		margin-left: 50%;
	}

	.offset-sm-7 {
		margin-left: 58.3333333333%;
	}

	.offset-sm-8 {
		margin-left: 66.6666666667%;
	}

	.offset-sm-9 {
		margin-left: 75%;
	}

	.offset-sm-10 {
		margin-left: 83.3333333333%;
	}

	.offset-sm-11 {
		margin-left: 91.6666666667%;
	}
}
@media (min-width: 768px) {
	.col-md {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}

	.row-cols-md-1 > * {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.row-cols-md-2 > * {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.row-cols-md-3 > * {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}

	.row-cols-md-4 > * {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.row-cols-md-5 > * {
		flex: 0 0 20%;
		max-width: 20%;
	}

	.row-cols-md-6 > * {
		flex: 0 0 16.6666666667%;
		max-width: 16.6666666667%;
	}

	.col-md-auto {
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}

	.col-md-1 {
		flex: 0 0 8.3333333333%;
		max-width: 8.3333333333%;
	}

	.col-md-2 {
		flex: 0 0 16.6666666667%;
		max-width: 16.6666666667%;
	}

	.col-md-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-md-4 {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}

	.col-md-5 {
		flex: 0 0 41.6666666667%;
		max-width: 41.6666666667%;
	}

	.col-md-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-md-7 {
		flex: 0 0 58.3333333333%;
		max-width: 58.3333333333%;
	}

	.col-md-8 {
		flex: 0 0 66.6666666667%;
		max-width: 66.6666666667%;
	}

	.col-md-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-md-10 {
		flex: 0 0 83.3333333333%;
		max-width: 83.3333333333%;
	}

	.col-md-11 {
		flex: 0 0 91.6666666667%;
		max-width: 91.6666666667%;
	}

	.col-md-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.order-md-first {
		order: -1;
	}

	.order-md-last {
		order: 13;
	}

	.order-md-0 {
		order: 0;
	}

	.order-md-1 {
		order: 1;
	}

	.order-md-2 {
		order: 2;
	}

	.order-md-3 {
		order: 3;
	}

	.order-md-4 {
		order: 4;
	}

	.order-md-5 {
		order: 5;
	}

	.order-md-6 {
		order: 6;
	}

	.order-md-7 {
		order: 7;
	}

	.order-md-8 {
		order: 8;
	}

	.order-md-9 {
		order: 9;
	}

	.order-md-10 {
		order: 10;
	}

	.order-md-11 {
		order: 11;
	}

	.order-md-12 {
		order: 12;
	}

	.offset-md-0 {
		margin-left: 0;
	}

	.offset-md-1 {
		margin-left: 8.3333333333%;
	}

	.offset-md-2 {
		margin-left: 16.6666666667%;
	}

	.offset-md-3 {
		margin-left: 25%;
	}

	.offset-md-4 {
		margin-left: 33.3333333333%;
	}

	.offset-md-5 {
		margin-left: 41.6666666667%;
	}

	.offset-md-6 {
		margin-left: 50%;
	}

	.offset-md-7 {
		margin-left: 58.3333333333%;
	}

	.offset-md-8 {
		margin-left: 66.6666666667%;
	}

	.offset-md-9 {
		margin-left: 75%;
	}

	.offset-md-10 {
		margin-left: 83.3333333333%;
	}

	.offset-md-11 {
		margin-left: 91.6666666667%;
	}
}
@media (min-width: 992px) {
	.col-lg {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}

	.row-cols-lg-1 > * {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.row-cols-lg-2 > * {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.row-cols-lg-3 > * {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}

	.row-cols-lg-4 > * {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.row-cols-lg-5 > * {
		flex: 0 0 20%;
		max-width: 20%;
	}

	.row-cols-lg-6 > * {
		flex: 0 0 16.6666666667%;
		max-width: 16.6666666667%;
	}

	.col-lg-auto {
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}

	.col-lg-1 {
		flex: 0 0 8.3333333333%;
		max-width: 8.3333333333%;
	}

	.col-lg-2 {
		flex: 0 0 16.6666666667%;
		max-width: 16.6666666667%;
	}

	.col-lg-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-lg-4 {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}

	.col-lg-5 {
		flex: 0 0 41.6666666667%;
		max-width: 41.6666666667%;
	}

	.col-lg-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-lg-7 {
		flex: 0 0 58.3333333333%;
		max-width: 58.3333333333%;
	}

	.col-lg-8 {
		flex: 0 0 66.6666666667%;
		max-width: 66.6666666667%;
	}

	.col-lg-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-lg-10 {
		flex: 0 0 83.3333333333%;
		max-width: 83.3333333333%;
	}

	.col-lg-11 {
		flex: 0 0 91.6666666667%;
		max-width: 91.6666666667%;
	}

	.col-lg-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.order-lg-first {
		order: -1;
	}

	.order-lg-last {
		order: 13;
	}

	.order-lg-0 {
		order: 0;
	}

	.order-lg-1 {
		order: 1;
	}

	.order-lg-2 {
		order: 2;
	}

	.order-lg-3 {
		order: 3;
	}

	.order-lg-4 {
		order: 4;
	}

	.order-lg-5 {
		order: 5;
	}

	.order-lg-6 {
		order: 6;
	}

	.order-lg-7 {
		order: 7;
	}

	.order-lg-8 {
		order: 8;
	}

	.order-lg-9 {
		order: 9;
	}

	.order-lg-10 {
		order: 10;
	}

	.order-lg-11 {
		order: 11;
	}

	.order-lg-12 {
		order: 12;
	}

	.offset-lg-0 {
		margin-left: 0;
	}

	.offset-lg-1 {
		margin-left: 8.3333333333%;
	}

	.offset-lg-2 {
		margin-left: 16.6666666667%;
	}

	.offset-lg-3 {
		margin-left: 25%;
	}

	.offset-lg-4 {
		margin-left: 33.3333333333%;
	}

	.offset-lg-5 {
		margin-left: 41.6666666667%;
	}

	.offset-lg-6 {
		margin-left: 50%;
	}

	.offset-lg-7 {
		margin-left: 58.3333333333%;
	}

	.offset-lg-8 {
		margin-left: 66.6666666667%;
	}

	.offset-lg-9 {
		margin-left: 75%;
	}

	.offset-lg-10 {
		margin-left: 83.3333333333%;
	}

	.offset-lg-11 {
		margin-left: 91.6666666667%;
	}
}
@media (min-width: 1200px) {
	.col-xl {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}

	.row-cols-xl-1 > * {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.row-cols-xl-2 > * {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.row-cols-xl-3 > * {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}

	.row-cols-xl-4 > * {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.row-cols-xl-5 > * {
		flex: 0 0 20%;
		max-width: 20%;
	}

	.row-cols-xl-6 > * {
		flex: 0 0 16.6666666667%;
		max-width: 16.6666666667%;
	}

	.col-xl-auto {
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}

	.col-xl-1 {
		flex: 0 0 8.3333333333%;
		max-width: 8.3333333333%;
	}

	.col-xl-2 {
		flex: 0 0 16.6666666667%;
		max-width: 16.6666666667%;
	}

	.col-xl-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-xl-4 {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}

	.col-xl-5 {
		flex: 0 0 41.6666666667%;
		max-width: 41.6666666667%;
	}

	.col-xl-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-xl-7 {
		flex: 0 0 58.3333333333%;
		max-width: 58.3333333333%;
	}

	.col-xl-8 {
		flex: 0 0 66.6666666667%;
		max-width: 66.6666666667%;
	}

	.col-xl-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-xl-10 {
		flex: 0 0 83.3333333333%;
		max-width: 83.3333333333%;
	}

	.col-xl-11 {
		flex: 0 0 91.6666666667%;
		max-width: 91.6666666667%;
	}

	.col-xl-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.order-xl-first {
		order: -1;
	}

	.order-xl-last {
		order: 13;
	}

	.order-xl-0 {
		order: 0;
	}

	.order-xl-1 {
		order: 1;
	}

	.order-xl-2 {
		order: 2;
	}

	.order-xl-3 {
		order: 3;
	}

	.order-xl-4 {
		order: 4;
	}

	.order-xl-5 {
		order: 5;
	}

	.order-xl-6 {
		order: 6;
	}

	.order-xl-7 {
		order: 7;
	}

	.order-xl-8 {
		order: 8;
	}

	.order-xl-9 {
		order: 9;
	}

	.order-xl-10 {
		order: 10;
	}

	.order-xl-11 {
		order: 11;
	}

	.order-xl-12 {
		order: 12;
	}

	.offset-xl-0 {
		margin-left: 0;
	}

	.offset-xl-1 {
		margin-left: 8.3333333333%;
	}

	.offset-xl-2 {
		margin-left: 16.6666666667%;
	}

	.offset-xl-3 {
		margin-left: 25%;
	}

	.offset-xl-4 {
		margin-left: 33.3333333333%;
	}

	.offset-xl-5 {
		margin-left: 41.6666666667%;
	}

	.offset-xl-6 {
		margin-left: 50%;
	}

	.offset-xl-7 {
		margin-left: 58.3333333333%;
	}

	.offset-xl-8 {
		margin-left: 66.6666666667%;
	}

	.offset-xl-9 {
		margin-left: 75%;
	}

	.offset-xl-10 {
		margin-left: 83.3333333333%;
	}

	.offset-xl-11 {
		margin-left: 91.6666666667%;
	}
}

.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
	width: 100%;
	padding-right: 5 rem;
	padding-left: 5 rem;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container-sm,
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container-md,
	.container-sm,
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container-lg,
	.container-md,
	.container-sm,
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container-xl,
	.container-lg,
	.container-md,
	.container-sm,
	.container {
		max-width: 1140px;
	}
}

.main-container {
	width: 80vw;
	height: 45vw;
	margin: 10 auto;
	float: center;
}

#main {
	display: flex;
}

#main .btn {
	height: 100%;
	width: 100%;
	font-size: 10vw;
	display: block;
}

.student-img {
	width: 100%;
}

a {
	color: unset;
	text-decoration: none;
}

h3 {
	color: black;
	text-decoration: none;
}

@media screen and (min-width: 801px) {
	.student-id {
		font-size: 2vw;
	}

	.student-name {
		font-size: 1.7vw;
	}

	.campaign-group {
		font-size: 1.7vw;
	}

	iframe {
		width: 100%;
		height: 500px;
	}
}

@media screen and (max-width: 800px) {
	.campaign-group {
		font-size: 3vw;
	}

	.form-inline {
		flex-flow: initial;
	}

	#main .btn {
		width: 90vw !important;
		height: 30vh !important;
		margin: 10px 0px;
		font-size: 20vw;
		justify-content: center;
		align-items: center;
		display: flex;
	}

	#main {
		flex-direction: column;
		align-items: center;
	}

	iframe {
		width: 100%;
		height: 200px;
	}
}

.SH {
	background: #d9534f;
	color: white;
}

.JH {
	background: #0275d8;
	color: white;
}

.modal-close-x {
	position: absolute;
	top: 5%;
	right: 5%;
}

.page-section {
	padding: 6rem 0;
}
.page-section h2.section-heading {
	font-size: 2.5rem;
	margin-top: 0;
	margin-bottom: 1rem;
}
.page-section h3.section-subheading {
	font-size: 1rem;
	font-weight: 400;
	font-style: italic;
	font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	margin-bottom: 4rem;
}

header.masthead {
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: center;
	color: #fff;
	background-image: url("../img/elections-banner.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

@media (min-width: 500px) {
	header.masthead {
		padding-top: 15rem;
		padding-bottom: 12rem;
	}
}

#section1 {
	margin-top: 10px;
}

#section2 {
	margin-top: 10px;
}

.timeline {
	position: relative;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}
.timeline:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 40px;
	width: 2px;
	margin-left: -1.5px;
	content: "";
	background-color: #e9ecef;
}
.timeline > li {
	position: relative;
	min-height: 50px;
	margin-bottom: 50px;
}
.timeline > li:after,
.timeline > li:before {
	display: table;
	content: " ";
}
.timeline > li:after {
	clear: both;
}
.timeline > li .timeline-panel {
	position: relative;
	float: right;
	width: 100%;
	padding: 0 20px 0 100px;
	text-align: left;
}
.timeline > li .timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}
.timeline > li .timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}
.timeline > li .timeline-image {
	position: relative;
	z-index: 100;
	left: 0;
	width: 80px;
	height: 80px;
	margin-left: 0;
	text-align: center;
	color: white;
	border: 7px solid #e9ecef;
	border-radius: 100%;
	background-color: #fed136;
}
.timeline > li .timeline-image h4 {
	font-size: 10px;
	line-height: 14px;
	margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
	padding: 0 20px 0 100px;
	text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}
.timeline > li:last-child {
	margin-bottom: 0;
}
.timeline .timeline-heading h4 {
	margin-top: 0;
	color: inherit;
}
.timeline .timeline-heading h4.subheading {
	text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.timeline:before {
		left: 50%;
	}
	.timeline > li {
		min-height: 100px;
		margin-bottom: 100px;
	}
	.timeline > li .timeline-panel {
		float: left;
		width: 41%;
		padding: 0 20px 20px 30px;
		text-align: right;
	}
	.timeline > li .timeline-image {
		left: 50%;
		width: 100px;
		height: 100px;
		margin-left: -50px;
	}
	.timeline > li .timeline-image h4 {
		font-size: 13px;
		line-height: 18px;
		margin-top: 16px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		float: right;
		padding: 0 30px 20px 20px;
		text-align: left;
	}
}
@media (min-width: 992px) {
	.timeline > li {
		min-height: 150px;
	}
	.timeline > li .timeline-panel {
		padding: 0 20px 20px;
	}
	.timeline > li .timeline-image {
		width: 150px;
		height: 150px;
		margin-left: -75px;
	}
	.timeline > li .timeline-image h4 {
		font-size: 18px;
		line-height: 26px;
		margin-top: 30px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		padding: 0 20px 20px;
	}
}
@media (min-width: 1200px) {
	.timeline > li {
		min-height: 170px;
	}
	.timeline > li .timeline-panel {
		padding: 0 20px 20px 100px;
	}
	.timeline > li .timeline-image {
		width: 170px;
		height: 170px;
		margin-left: -85px;
	}
	.timeline > li .timeline-image h4 {
		margin-top: 40px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		padding: 0 100px 20px 20px;
	}
}

.modal-open {
	overflow: hidden;
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 0.5rem;
	pointer-events: none;
}
.modal.fade .modal-dialog {
	transition: transform 0.3s ease-out;
	transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
	.modal.fade .modal-dialog {
		transition: none;
	}
}
.modal.show .modal-dialog {
	transform: none;
}
.modal.modal-static .modal-dialog {
	transform: scale(1.02);
}

.modal-dialog-scrollable {
	display: flex;
	max-height: calc(100% - 1rem);
}
.modal-dialog-scrollable .modal-content {
	max-height: calc(100vh - 1rem);
	overflow: hidden;
}
.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
	flex-shrink: 0;
}
.modal-dialog-scrollable .modal-body {
	overflow-y: auto;
}

.modal-dialog-centered {
	display: flex;
	align-items: center;
	min-height: calc(100% - 1rem);
}
.modal-dialog-centered::before {
	display: block;
	height: calc(100vh - 1rem);
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
	content: "";
}
.modal-dialog-centered.modal-dialog-scrollable {
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
.modal-dialog-centered.modal-dialog-scrollable .modal-content {
	max-height: none;
}
.modal-dialog-centered.modal-dialog-scrollable::before {
	content: none;
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	outline: 0;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: #000;
}
.modal-backdrop.fade {
	opacity: 0;
}
.modal-backdrop.show {
	opacity: 0.5;
}

.modal-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem 1rem;
	border-bottom: 1px solid #dee2e6;
	border-top-left-radius: calc(0.3rem - 1px);
	border-top-right-radius: calc(0.3rem - 1px);
}
.modal-header .close {
	padding: 1rem 1rem;
	margin: -1rem -1rem -1rem auto;
}

.modal-title {
	margin-bottom: 0;
	line-height: 1.5;
}

.modal-body {
	position: relative;
	flex: 1 1 auto;
	padding: 1rem;
}

.modal-footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	padding: 0.75rem;
	border-top: 1px solid #dee2e6;
	border-bottom-right-radius: calc(0.3rem - 1px);
	border-bottom-left-radius: calc(0.3rem - 1px);
}
.modal-footer > * {
	margin: 0.25rem;
}

.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 500px;
		margin: 1.75rem auto;
	}

	.modal-dialog-scrollable {
		max-height: calc(100% - 3.5rem);
	}
	.modal-dialog-scrollable .modal-content {
		max-height: calc(100vh - 3.5rem);
	}

	.modal-dialog-centered {
		min-height: calc(100% - 3.5rem);
	}
	.modal-dialog-centered::before {
		height: calc(100vh - 3.5rem);
		height: -webkit-min-content;
		height: -moz-min-content;
		height: min-content;
	}

	.modal-sm {
		max-width: 300px;
	}
}
@media (min-width: 992px) {
	.modal-lg,
	.modal-xl {
		max-width: 800px;
	}
}
@media (min-width: 1200px) {
	.modal-xl {
		max-width: 1140px;
	}
}

#portfolio .portfolio-item {
	max-width: 25rem;
	margin-left: auto;
	margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
	position: relative;
	display: block;
	margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(148, 204, 250, 0.9);
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity ease-in-out 0.25s;
}
#portfolio
	.portfolio-item
	.portfolio-link
	.portfolio-hover
	.portfolio-hover-content {
	font-size: 1.25rem;
	color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
	opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
	padding: 1.5rem;
	text-align: center;
	background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
	font-size: 1.5rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
	font-style: italic;
	font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .modal-dialog {
	margin: 1rem;
	max-width: 100vw;
}
.portfolio-modal .modal-content {
	padding-top: 6rem;
	padding-bottom: 6rem;
	text-align: center;
}
.portfolio-modal .modal-content h2 {
	font-size: 3rem;
	line-height: 3rem;
}
.portfolio-modal .modal-content p.item-intro {
	font-style: italic;
	margin-bottom: 2rem;
	font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.portfolio-modal .modal-content p {
	margin-bottom: 2rem;
}
.portfolio-modal .modal-content ul.list-inline {
	margin-bottom: 2rem;
}
.portfolio-modal .modal-content img {
	margin-bottom: 2rem;
}
.portfolio-modal .close-modal {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	background-color: transparent;
}
.portfolio-modal .close-modal:hover {
	opacity: 0.3;
}

.bg-light {
	background-color: #f8f9fa !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
	background-color: #dae0e5 !important;
}

.row-fluid {
	display: flex;
	align-items: center;
}

/* for viewer.html */

@media screen and (max-width: 2000px) {
	.embedded-content {
		max-width: 20%;
		max-height: 20%;
		position: relative !important;
	}
}

@media screen and (max-width: 800px) {
	.embedded-content {
		max-width: 45%;
		max-height: 45%;
		position: relative !important;
	}
}

@media screen and (max-width: 399px) {
	.embedded-content {
		max-width: 80%;
		max-height: 80%;
		position: relative !important;
	}
}

.embedded-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* for menu.html */

.thumbnail_link,
.thumbnail_link:hover,
.thumbnail_link:focus,
.thumbnail_link:active {
	text-decoration: none;
	color: inherit;
}
